#topbar {
    background-color: #DE731E;
    text-align: center;
    padding: 4px 0;

    .topbar-texto {
        font-family: 'montserrat-semibold', sans-serif;
        margin-bottom: 0;
        font-size: 16px;
    }
}