/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'montserrat-regular', sans-serif;
  font-size: $fs-16;
  color: #FFFFFF;
}
